.button {
  @include font($size: 18px, $color: $white, $weight: 'bold');
  @include link($color: false);
  display: inline-block;
  background: $primary;
  margin-top: 18px;
  padding: 12px 20px;
  border-radius: 3px;

  &--is-small {
    @include font($size: 15px, $weight: 'normal');
  }

  &--color-primary {
    background: $primary;
  }

  &--color-dark {
    background: $dark;
  }

  &--color-secondary {
    background: $secondary;
  }

  &--color-dark-blue {
    background: $dark-blue;
  }
}