.hero-section {
  background: $primary;
  height: 100vh;
  width: 100%;
  clip-path: polygon(46% 0, 100% 27%, 100% 76%, 0 100%, 0 0);
  @include flex();

  &__image {
    width: 232px;
    height: auto;
    margin-top: 40px;
  }
}