.hero-section {
  @include flex();
  background: $primary;
  height: 100vh;
  width: 100%;
  clip-path: polygon(33.8% 5px, 99.99% 19.2%, 100% 79%, 0px 100%, 0px 0px);

  @include mq('tablet-wide') {
    clip-path: polygon(56% 0, 100% 17%, 100% 82%, 0 100%, 0 0);
    display: grid;
    grid-template-columns: 1fr 350px;
    padding: 76px;
  }

  @include mq('desktop') {
    padding: 140px;
    grid-template-columns: 1fr 512px;
  }

  &__image {
    width: 232px;
    height: auto;

    margin-top: 40px;

    @include mq('tablet-small') {
      width: 250px;
    }

    @include mq('tablet') {
      width: 300px;
    }

    @include mq('tablet-wide') {
      width: 100%;
      margin-top: 50px;
    }
  }
}