.navbar {
  @include font($size: 20px, $color: $white);

  background: $darkBlue;
  width: 100%;
  padding: 23px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;

  @include mq('fhd') {
    padding: 23px 140px;
  }

  &__list {
    @include flex($center: false);
    @include font($size: 28px, $weight: 'bold');

    background: $darkBlue;
    justify-content: center;
    align-items: flex-end;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translate(100%, -100%);
    transition: transform 1s cubic-bezier(.39, .58, .57, 1);


    &--is-active {
      transform: translate(0, 0);

      .navbar__item {
        opacity: 1;
        transform: translateY(0);
      }
    }

    @include mq('tablet') {
      @include font($size: 20px, $weight: 'medium');

      background: unset;
      display: unset;
      position: unset;
      width: auto;
      height: auto;
      padding: 0;
      transform: translate(0, 0);
      transition: unset;
    }
  }

  &__item {
    margin-bottom: 20px;
    width: 100%;
    text-align: right;
    opacity: 0;
    transition: opacity 0.2s 0.9s, transform 0.4s 0.9s;
    transform: translateY(100px);

    @include mq('tablet') {
      width: auto;
      text-align: unset;
      opacity: 1;
      display: inline-block;
      margin: 0 0 0 44px;
      transition: unset;
      transform: translateY(0);
    }
  }

  &__link {
    @include link();
    display: block;
  }
}