.section {
  @include mq('tablet-wide') {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__h {
    @include font($size: 25px, $weight: 'bold');

    @include mq('tablet-wide') {
      font-size: 29px;
    }
  }

  &__p {
    @include font($size: 17px, $lh: 1.3em);
    margin-top: 8px;

    @include mq('tablet-wide') {
      font-size: 18px;
      margin-top: 16px;
    }
  }

  &__content {
    padding: 40px;

    @include mq('tablet-small') {
      padding: 100px;
    }

    @include mq('tablet-wide') {
      padding: 100px 100px 100px 140px;
      @include flex($center: false);
      justify-content: center;
    }
  }

  &__img {
    padding: 40px;
    width: 100%;

    @include mq('tablet-small') {
      padding: 100px;
    }

    @include mq('tablet-wide') {
      padding: 100px 140px 100px 100px;
      margin: auto;
    }
  }

  &--light {

    .section__content {
      background: $primary;
      color: $white;
    }
  }

  &--dark {

    .section__content {
      background: $secondary;
      color: $white;
    }
  }

  &--center {
    text-align: center;
    display: block;
  }

  &--is-mirror {
    .section__img {
      grid-column: 1;
      grid-row: 1;
    }
  }
}