$padding640: 100px;
$padding-x768: 150px;
$padding-y768: 100px;
$padding-left-item1024: 100px 100px 100px 140px;
$padding-right-item1024: 100px 140px 100px 100px;

.section {
  @include mq('fhd') {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__h {
    @include font($size: 25px, $weight: 'bold');

    @include mq('fhd') {
      font-size: 29px;
    }
  }

  &__p {
    @include font($size: 17px, $lh: 1.3em);
    margin-top: 8px;

    @include mq('fhd') {
      font-size: 18px;
      margin-top: 16px;
    }
  }

  &__content {
    padding: 40px;
    position: relative;

    @include mq('tablet-small') {
      padding: $padding640;
    }

    @include mq('tablet') {
      padding: $padding-y768 $padding-x768;
    }

    @include mq('fhd') {
      padding: $padding-left-item1024;
      @include flex($center: false);
      justify-content: center;
    }
  }

  &__img {
    padding: 40px;
    width: 100%;

    @include mq('tablet-small') {
      padding: 100px;
    }

    @include mq('tablet') {
      padding: $padding-y768 $padding-x768;
    }

    @include mq('fhd') {
      padding: $padding-right-item1024;
      margin: auto;
    }
  }

  &--light {

    .section__content {
      background: $primary;
      color: $white;
    }
  }

  &--dark {

    .section__content {
      background: $secondary;
      color: $white;
    }
  }

  &--center {
    text-align: center;
    display: block;

    .section__content {
      display: block;
      padding-right: 140px;
    }
  }

  &--is-mirror {
    .section__img {
      @include mq('fhd') {
        padding: $padding-left-item1024;
        grid-column: 1;
        grid-row: 1;
      }
    }

    .section__content {
      @include mq('fhd') {
        padding: $padding-right-item1024;
      }
    }
  }
}