$white: #fff;
$black: #000;
$dark: #2A2C34;
$primary: #518CE3;
$secondary: #1E3A65;
$darkBlue: #3475D6;
$gray: #4A4C53;

// mosaic
$mosaic-dark1: #123569;
$mosaic-dark2: #0D3776;
$mosaic-dark3: #214273;

$mosaic-light1: #154FA6;
$mosaic-light2: #2161BF;
$mosaic-light3: #3165B1;