$breakpoints: ('phone': 400px,
  'phone-wide': 480px,
  'phablet': 560px,
  'tablet-small': 640px,
  'tablet': 768px,
  'tablet-wide': 1024px,
  'desktop': 1248px,
  'desktop-wide': 1440px);

@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);

    @if $type==max {
      $width: $width - 1px;
    }

    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

@mixin push--auto {
  margin: {
    left: auto;
    right: auto;
  }
}

@mixin pseudo($display: block, $pos: absolute, $content: '') {
  content: $content;
  display: $display;
  position: $pos;
}

@mixin font($size: false, $color: false, $weight: false, $lh: false) {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;

  @if $size {
    font-size: $size;
  }

  @if $color {
    color: $color;
  }

  @if $weight {
    font-weight: $weight;
  }

  @if $lh {
    line-height: $lh;
  }
}

@mixin dimensions($width, $height) {
  height: $height;
  width: $width;
}

@mixin flex($center: true, $direction: column) {
  display: flex;

  @if $direction !='row' {
    flex-direction: $direction;
  }

  @if $center {
    align-items: center;
    justify-content: center;
  }
}